.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-title-link {
  text-decoration: none;
  color: #333;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-toggler {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    background-color: skyblue;
  }

  .navbar-title {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
  }

  .navbar-collapse.open {
    display: flex;
    gap: 10px;
  }
}